package {{ .PackageName }}

import (
    "bufio"
    "fmt"
)

func Part2(sc *bufio.Scanner) (string, error) {
    for sc.Scan() {
        // TODO: implement Part 2 logic
    }

    if err := sc.Err(); err != nil {
        return "", fmt.Errorf("read input: %w", err)
    }

    return "", nil
}
